.element-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 15px;
}
.page-logo {
  width: 325px;
}
.page-font {
  color: #551e53;
  font-size: 75px;
  font-weight: 500;
  height: 15px;
}
.page-text {
  color: #555555;
}
